body {
    background-image: url("./images/bckgr.png");
    background-size: 100%;
    width: 97vw;
    height: 97vh;
}

.main, .sub {
    display: flex;
    justify-content: center;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: 20pt;
}

#body-margin {
    padding: 1vw;
    background-color: rgba(34, 41, 54, 0.4);
    border-radius: 25px;

}

/*laughably bad design but it works!! >:D*/

#ryan {
    margin-top: -7vh;
}

.sub {
    font-style: oblique;
    font-weight: 300;
    font-size: 15pt;
    text-align: center;
}

.main :hover, .sub :hover {
    cursor: default;
}

/* nav stuff! */

#nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav li {
    width: 30vw;
    float: left;
}

#nav li a {
    /*font formatting*/
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: block;
    color: white;

    text-align: center;
    text-decoration: none;

    padding: 14px 16px;
    /*sets transition property and duration*/
    transition-duration: 1s;
    transition-property: color;
}

#nav li a:hover {
    color: goldenrod;
}