/* nav stuff! */

#nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav li {
    width: 30vw;
    float: left;
}

#nav li a {
    /*font formatting*/
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: block;
    color: white;

    text-align: center;
    text-decoration: none;

    padding: 14px 16px;
    /*sets transition property and duration*/
    transition-duration: 1s;
    transition-property: color;
}

#nav li a:hover {
    color: goldenrod;
}

@keyframes slideFromleft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}